<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
</head>
<style>
body{
background: rgb(245,135,0);
background: linear-gradient(90deg, rgba(245,135,0,1) 0%, rgba(255,182,92,1) 35%, rgba(255,205,143,1) 100%);
}
</style>
<body>
 <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.com%2Ffree-photos-vectors%2Fdesign-logo&psig=AOvVaw1_3eBaNT2zxvX6x2SfYij6&ust=1719616807236000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCOCEifn1_IYDFQAAAAAdAAAAABAI" />
</body>
</html>
